* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding: 30px 5px;
    background-color: #365314;
}

.navbar h1 {
    text-align: center;
    color: chocolate;
    font-size: 2.5rem;
}

.firstSection {
    padding: 30px;
    border-radius: 7.5px;
    border-color: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSection :hover {
    background-color: #f2eda0;
    transition: 0.s;
}


.firstSection .txt-area {
    flex: 1;
    order: 1;
    width: 80%;
    height: 60px;
    padding: 1rem 2rem;
    text-align: center;
    font-style: oblique;
    font-size: 1.5rem;
    border-radius: 0.25rem;
}

/* .firstSection .btn-translate {
    flex: 2; 
    background-color: chocolate;
    height: 40px;
    width: 90px;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    order: 2;
    padding: 10px 5px;
    margin: 10px;
    align-items: flex-start;
    
} */

.firstSection .btn-translate{
    display: inline-block;
    padding: 10px 30px;
    background-color: chocolate;
    cursor: pointer;
    margin: 10px;
    flex: 2; 
    order: 2;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.output {
    margin: auto;
    padding: 5px 0px;
    text-align: center;
    font-size: 2.0rem;
    font-style: oblique;
}

.output-div {
    width: 50%;
    border: 2px solid black;
    height: 50px;
    padding: 2rem 10rem;
    margin: auto;
    border-radius: 7.5px;
}